<header>
<img src="../../../../assets/img/Tata_Consultancy_Services_Logo.svg.png" alt="logo-tcs" routerLink="">
<h1>{{title}}</h1>
<nav id="menu">

     

        <ul>
            <li>
                <a routerLink="">                   
                    <mat-icon>
                        home
                    </mat-icon>
                   
                </a>       
                         
            </li>            
            <li>
                <a routerLink="notificacao">
                    <mat-icon>
                        notifications
                    </mat-icon>
                </a>
            </li>
            <li >
                <a routerLink="/login" >
                    <mat-icon class="sair">
                        logout
                    </mat-icon>
                </a>
            </li>
            <li>                
               
            </li>
        </ul>
       
    </nav>
</header>