header {
    background-color: #000000;
    padding: 20px 20px 0 20px;
}

header img{
    width: 15%;
    margin-left: 20px;
}

#menu ul{
    list-style: none;
    justify-content: center;
    display: flex;
}

#menu ul li a{
    padding: 30px 50px 20px 50px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
}

#menu ul li a:hover{
    background-color: #404040;
}

@media screen and (max-width: 480px){

    header img{
        width: 40%;
        margin-left: 0;
    }

    #menu ul li a{
        font-size: 10px;
        padding: 5px 20px;
    }
}




