<app-header  [title]="nomeTitle"></app-header> 
  <br><br>
  <div class="main">
  <mat-card>
  <table class="table " >
    
    <thead >
     <tr class="header">
      <th>Sensor</th>
      <th (click)="sort('temp')">Temperatura  <mat-icon>filter_list</mat-icon></th>
       <th >Data </th>
       <th> Hora</th>
     </tr>
    </thead><br>

    <tbody class="body">
     <tr  >  
      <ng-template [ngIf]="setSort.temperatura.S > 33 || setSort.temperatura.S <16 ">
     
      <ng-container>
      <td>{{setSort.id.S}}</td>
     </ng-container>

     <ng-container>
       <td>{{setSort.temperatura.S }}</td>
      </ng-container>
      
      <ng-container>
        <td>{{setSort.dia.S | date : 'dd/M' }}</td>
       </ng-container>
 

      <ng-container>
       <td>{{setSort.hora.S}}</td>      
      </ng-container>
      

      </ng-template>
    </tbody>
 </table>
</mat-card>
</div>
  <h1>

  </h1>
  