.container {

    width: 550px; 
    min-height: 100px; 
    padding: 40px 40px;  
    padding-right: 106px;
   
    background: white; 
    box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.25); 
    box-sizing: border-box; 
    border-radius: 20px; 
   
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
   
   
   }
   
   *{
       padding: 0; 
       margin: 0; 
       outline: none; 
       font-family: "Roboto", sans-serif; 
       font-style: normal; 
       font-weight: 380; 
   
   }
   
   .body{
   
       height: 100vh; 
       background: linear-gradient(180deg, #0A0909 0%, rgba(217, 217, 217, 0) 100%);
       background-size: cover; 
       display: flex;  
       
       justify-content: center; 
       align-items: center;  
       
     
   } 
   
   
   img{
      
       width: 98px; 
       height: 102px; 
       display: flex;
       align-items: center;
   
   }
   /* Tata_Consultancy_Services_Logo 1 */
   
   
   
   
   
   
   
   .form{
      width: 100%;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        
   } 
   
   
   p{
    
       padding-top: 10px;
       color:black; 
       font-size: 16px;  
       align-items: center; 
       font-family: 'Itim';
       font-style: normal; 
       line-height: 29px;
   }
   
   .label{
   

    width: 140%;
     display: flex; 
     justify-content: center; 
     align-items: center;  
   
     border-bottom: 1px solid black;
       
   }
   
   .svg{
        width: 22px;
   }
   
   ::placeholder {
       color:black;  
        padding-left: 9px;
        font-size: 15px;
        font-family: "Roboto", sans-serif; 
   }
   
   .input{
       padding-left: 10px;
       width: 140%;  
       height: 51px; 
       border: none;  
       align-items: center;  
       display: flex;
       justify-content: center;
       font-size: 18px; 
   }
   
   .button {
       box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25); 
       
  
    
       width: 140%; 
       height: 50px; 
       margin: 30px 0 0;  
   
       border-radius: 24px; 
       background: #2E2E2E;
       font-size: 18px; 
       cursor: pointer;  
       border: 0; 
       color:white;
       
       &:disabled {
           cursor:no-drop; 
           background: darken(red, 20%);
       }
   }
   
   .error{
        color:red; 
        font-size: 18px; 
        margin-top: 24px;
   }
   
   
   .img-tcs {
     
        align-items: center; 
        display: flex; 
        width: 170px; 
        height: 100px;
   }
   
   
   
   
   @media screen and (max-width: 480px){ 
   
     .container {

   width: 346px;
   height: 458px;
 
   background: #FFFFFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 25px;
     }
   
   
   
   }