
     
<app-header></app-header>

<div     id="area-input">

        <input id="pesquisa-input" matInput type="text" 
      [(ngModel)]="value" (input)="search($event)"  placeholder="Pesquisar">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    <p></p>
</div>
<ng-template  ngFor let-temp [ngForOf]="getAllTemp">
<div id="conj-card">
     

    <mat-card   class="setor-card"> 

        <mat-card-title><h1>{{temp.nome}}</h1></mat-card-title>
        <mat-card-content  style="color: #b4fa52">
            <h1>{{temp.temp}}º</h1>
            <h3>Normal</h3>
        </mat-card-content>
    </mat-card>
   
    </div>
</ng-template>
