@import '~bootstrap/dist/css/bootstrap.min.css'; 

table {
    width: 100%;
   
    
  }  

  .header{
    font-size: 16px;
    background-color: white;
    text-align: center;    

  }
  
  h1{
    text-align: center;
  }

  .body{
    text-align: center;
  }


  .box-geral{
   
    margin: 15px;
    border-radius: 20px;

    background-color: #FFF;
}