<app-header  [title]="nomeTitle"></app-header> 

<mat-card class="box-geral">
 

    <table class="table " >     
        <thead >    
         <tr class="header">   
                     
           <th>Temperatura  <mat-icon>filter_list</mat-icon></th>
           <th> Data </th>
           <th>Hora </th>
         </tr>
        </thead>
        <br> 
     
    <tbody class="body">
      <ng-template ngFor let-temp [ngForOf]="setAllTempo | ordernar | orderBy: 'condicao' : true" >
     <tr>  
    
      <td>{{temp.temperatura.S}}º</td>       
      <td>{{temp.dia.S | date: 'dd/MM'}}</td>
      <td>{{temp.hora.S}}</td>
     </tr>
      </ng-template>

     
      
    </tbody>
 </table>
</mat-card>
 
  <h1>

  </h1>
  